* {
    font-family: "noto_sansregular";
}

$primary-color: rgb(199, 199, 199);
$margin-components: 5px;

p {
	font-size: 18px;
	margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.pseudo_body {
	min-height: 100%;
	background-image: url(../../img/back.webp);
	background-size: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.wrapper {
    display: flex;
    flex-direction: column;
    // padding: 25px 40px 0 40px;
    max-width: 990px;
    flex: 1 1 auto;
    width: 100%;
}
.hat {
    background-image: url("../../img/header_hat.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.hat__h1 {
    color: #fff;
    margin: 20px;
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 0px black;
}
.horizontal_nav {
    list-style-type: none;
    background-color: $primary-color;
    min-height: 80px;
    margin-bottom: $margin-components;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    a {
        border-radius: 7px;
        display: flex;
        border: 1px dashed #000;
        background-color: #863100;
        text-decoration: none;
        display: flex;
        height: 35px;
        min-width: 150px;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 10px;
        font-size: 19px;
        color: rgb(255, 255, 255);
    }
    a:hover {
        font-size: 23px;
    }
    div {
        margin: 7px 10px;
    }
    .active {
        pointer-events: none;
        color: #c2c2c2;
        font-size: 23px;
    }
}
.main_unit {
    background-color: $primary-color;
    flex: 1 1 auto;
    padding: 25px;
}
.content_main_unit {
    display: flex;
    flex-direction: column;
}
.txt_hello {
    font-size: 30px;
    text-align: center;
}
.content_main_unit__txt {
	line-height: 23px;
}
.article_foto {
    min-height: 5px;
}
.article_foto img {
    width: 100%;
    margin: 25px 0;
}
footer {
    background-color: $primary-color;
    margin-top: $margin-components;
    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.hat {
    transition: background-size 0.5s cubic-bezier(.37, .81, .69, .99);
    -webkit-transition: background-size 0.5s cubic-bezier(.37, .81, .69, .99);
    -moz-transition: background-size 0.5s cubic-bezier(.37, .81, .69, .99);
    -ms-transition: background-size 0.5s cubic-bezier(.37, .81, .69, .99);
    -o-transition: background-size 0.5s cubic-bezier(.37, .81, .69, .99);
}

@media (max-width: 640px) {
    .hat {
        background-size: 150%;
    }
}

@media (max-width: 400px) {
    .hat {
        background-size: 250%;
    }
}