p {
	margin-top: 24px;
}
.pseudo_body {
	background-image: url(../img/back.webp);
}
.hat {
    background-image: url(../img/header_hat.webp);
}
.txt_hello {
    font-size: 30px;
    text-align: center;
}
.content_main_unit__txt {
	line-height: 23px;
}
.article_foto {
    min-height: 5px;
}
.article_foto img {
    width: 100%;
    margin: 25px 0;
}